/* CSS for Create User Page */

body {
    background-image: url('https://images.pexels.com/photos/2097616/pexels-photo-2097616.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #000000;
  }
  
  form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #555;
  }

  input[type="text"],
  input[type="password"] {
    width: 98%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  ul {
    margin-top: 100px;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  a {
    display: block;
    padding: 15px;
    font-size: 1.4rem;
    background-color: #0a0000;
    color: #fff;
    border: 3px solid #ffffff;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }