/* gallery.css */

/* Layout styles */

body {
  background-image: url('https://wallpaperset.com/w/full/7/b/0/248925.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: rgb(0, 0, 0);
  }
  
  h2 {
    display: block;
    text-align: center;
    max-width: 150px; 
    margin-left: 15px; 
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    border: 1px solid #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  ul {
    margin-top: 100px;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  a {
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    border: 3px solid #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Gallery styles */
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 10px;
  }
  .image-container .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
  }
  .image-container img {
    height: 200px;
  }
  .image-container .delete-button {
    margin-top: 10px;
  }
  
  /* Responsive styles */
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
    
    h2 {
      font-size: 1.5rem;
    }
    
    ul li a {
      font-size: 1.2rem;
      padding: 8px 16px;
    }
    
    .image-container img {
      height: 150px;
      margin: 5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }
    
    h2 {
      font-size: 1.2rem;
    }
    
    ul li a {
      font-size: 1rem;
      padding: 6px 12px;
    }
    
    .image-container img {
      height: 120px;
      margin: 3px;
    }
  }
  