body {
    background-image: url('https://images.pexels.com/photos/2097616/pexels-photo-2097616.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 0 10px;
  }
  
  ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  ul li a:hover {
    background-color: #333;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    border: 1px solid #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    border: 1px solid #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  