<!doctype html>
<html>
  <head>
    <title>Create Raspberry Pi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='create_pi.css') }}">
  </head>
  <body>
    <h1>Create Raspberry Pi</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('creation') }}">
      <label for="hostname">Hostname (IP address):</label>
      <input type="text" name="hostname" id="hostname" required>
      <br>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      <br>
      <input type="submit" value="Create">
    </form>
    <ul>
      <li><a href="{{ url_for('index') }}">Back</a></li>
    </ul>
  </body>
</html>
